<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>

    <div class="header">My Messages</div>

    <div id="message-stream">
      <%
        # for each message in @messages
        # render the template below
        # filling the content from
        # the message
      %>

      <div class="message">
        <a href="" class="close"></a>
        <div class="from">
        </div>
        <div class="content">
        </div>
        <div class="time">
        </div>
      </div>

    </div>
  </body>
</html>
